@charset "UTF-8";

/*-------------------------
	共通
-------------------------*/
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body,
p,
ul,
li,
h1,
h2,
h3,
dd,
dl,
dt,
aside {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #323131;
}

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.navlist ul,
.list_nav ul {
  background: #fff;
  display: flex;
}

.navlist li {
  width: 170px;
  padding: 5px 0 5px 0;
  margin-right: 5px;
  background-color: #000;
}

.list_nav li {
  width: 150px;
  padding: 5px 0 5px 0;
  margin-right: 5px;
  background-color: #666;
}

.list_nav li:nth-of-type(1n + 2) {
  background-color: #cccccc;
}

.list_nav {
  margin-bottom: 30px;
}

.navlist li a,
.list_nav li a {
  font-size: 18px;
  color: #ffff;
  display: block;
}

.conteaner {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.main {
  height: 870px;
  background: #fff;
  padding-top: 70px;
}

.footer {
  background: #fff;
  text-align: right;
  padding-right: 5px;
}

.submid_conteaner {
  display: flex;
}

.submid_conteaner p:nth-of-type(1n + 2) {
  margin-left: 40px;
}

/*-------------------------
 ログイン画面
-------------------------*/

.loginconteaner {
  background-color: #f39800;
}

.logintop {
  max-width: 1200px;
  font-size: 25px;
  margin: auto;
  text-align: center;
}

.logintop h1 {
  font-size: 45px;
  margin: 0 0 0 100px;
}

.loginmain {
  margin-top: 50px;
  padding: 0 0 0 300px;
}

.loginmain h1 {
  margin-bottom: 30px;
}

.loginform form {
  margin-left: 100px;
}

.loginform input {
  font-size: 20px;
}

.errortop {
  margin-bottom: 10px;
}

.loginsubmit input {
  margin: 30px 360px 0 0;
}

.error {
  color: #f00;
  margin-right: 250px;
}

/*-------------------------
 トップ画面
-------------------------*/
.conteaner {
  background: #f39800;
  color: #323131;
}

.section {
  width: 600px;
  height: 300px;
  margin: 100px auto 20px auto;
  border: 1px solid #000;
}

/*-------------------------
 医師管理画面
-------------------------*/

.list_conteaner {
  background: #f39800;
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.list_main {
  background: #fff;
  padding: 60px 0 30px 0;
}

.listbutton {
  text-align: left;
  margin-left: 60px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background: #cccccc;
  color: #666;
  padding: 4px 0 4px 0;

  box-shadow: 2px 2px 4px gray;
  border-radius: 5px;
}

.listbox {
  width: 1200px;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  margin-top: 50px;
}

.sort a {
  color: #535353;
  background: #cccccc;
  border: 1px solid #535353;
  margin-left: 5px;
  padding: 2px;
}

.listbox th,
.listbox td {
  padding: 10px 20px 10px 20px;
  border: 1px solid #666;
}

.button,
.add_button {
  width: 60px;
  height: 30px;
  display: inline-block;
  background: #cccccc;
  color: #666;
  text-align: center;
  padding-top: 3px;
  margin-left: 10px;
  border-radius: 8px;
}

.add_button {
  width: 80px;
}

/*-------------------------
 医師管理登録/編集
-------------------------*/

.add_conteaner {
  background: #f39800;
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.add_main {
  height: 1000px;
  background: #fff;
  padding-top: 60px;
}

.add_main form p {
  text-align: left;
  margin-left: 150px;
}

.add_table {
  width: 1000px;
  border-collapse: collapse;
  margin: 30px auto 0 auto;
}

.add_table th {
  width: 210px;
}

.add_table textarea {
  margin-top: 5px;
}

.add_table tr,
.add_table th {
  border: 1px solid #1c1c1c;
}

.add_table td {
  text-align: left;
}

.submit input {
  width: 220px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background: #cccccc;
  border-radius: 5px;
  margin-top: 30px;
}

.complete {
  margin-top: 150px;
  font-size: 25px;
}

.doctor td {
  width: 100px;
  height: 70px;
}

.doctor img {
  width: 40%;
}

/*-------------------------
 医師管理完了
-------------------------*/
.done_main {
  height: 650px;
  background: #fff;
  padding-top: 60px;
}

/*-------------------------
 診療時間管理
-------------------------*/

.consultation-listbox {
  width: 600px;
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
  margin-top: 50px;
}

.consultation-listbox th {
  border: 1px solid #666;
}

.consultation-listbox td:nth-of-type(1n + 2) {
  border: 1px solid #666;
}

.consultation-listbox td {
  position: relative;
  padding: 20px 0px 20px 0px;
  border: 1px solid #666;
  text-align: center;
}

.time-button a {
  width: 80px;
  height: 30px;
  display: inline-block;
  background: #cccccc;
  color: #666;
  text-align: center;
  padding-top: 3px;
  margin-top: 30px;
  box-shadow: 2px 2px 4px #666;
  border-radius: 8px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f39800;
  margin-left: 25px;
}

.triangl {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 16px solid #00bcd4;
  margin-left: 25px;
}

.cross {
  display: inline-block;
  position: relative;
  margin: 7px 10px 0 7px;
  padding: 0;
  width: 4px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
}

.cross:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 20px;
  height: 4px;
  margin-top: -2px;
  background: red;
}

.remarks_indicate {
  position: absolute;
  top: 90px;
  left: 4px;
  font-size: 12px;
  color: red;
}

/*-------------------------
 診療時間管理編集
-------------------------*/

.consultation-edit-listbox {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  margin-top: 50px;
}

.consultation-edit-listbox th {
  border: 1px solid #666;
}

.consultation-edit-listbox td {
  padding: 0px 7px 5px 7px;
  border: 1px solid #666;
  font-size: 14px;
}

.consultation-edit-listbox td input {
  display: flex;
  text-align: right;
  padding-bottom: 3px;
}

.consultation-edit-listbox td input:nth-of-type(1) {
  margin-bottom: 15px;
}

.consultation-edit-label {
  overflow: hidden;
  width: 90%;
  display: block;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
  margin: 8px 0 15px 5px;
}

.consultation-edit-label::before {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid;
  pointer-events: none;
}

.consultation-edit-label select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-img: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 2px 0px 2px 8px;
}

.consultation-edit-label select::-ms-expand {
  display: none;
}

.consultation-edit-listbox span {
  margin-right: 90px;
}

.time-button input {
  width: 80px;
  height: 30px;
  display: inline-block;
  background: #cccccc;
  color: #1c1c1c;
  text-align: center;
  padding-top: 3px;
  margin-top: 30px;
  border-radius: 8px;
}

.submid_time {
  display: flex;
  justify-content: center;
}

.submid_time p:nth-of-type(1n + 2) {
  margin-left: 30px;
}

/*-------------------------
 診療時間確認
-------------------------*/

.remarks {
  height: 45px;
  padding-top: 25px;
  border: 1px solid #666;
}
.consultation {
  margin: 10px 0 10px 0;
  padding: 3px 0 3px 0;
  border: 1px solid #666;
}
.time p {
  border: 1px solid #666;
  padding: 2px 20px 0 20px;
}

.time p:nth-child(1) {
  margin: 10px 0 15px 0;
}

.consultation-edit-listbox span {
  display: inline-block;
  padding-top: 10px;
}
