@charset "UTF-8";

@media screen and (min-width: 768px) {
  #main {
    flex-wrap: wrap;
  }

  .evn {
    width: 63%;
    margin: 0 0 5px 0;
  }

  .odd {
    width: 36%;
    margin: 0 5px 5px 0;
  }

  .last {
    width: 100%;
    margin: 0%;
  }

  .dltable1 {
    width: 96.5%;
    border: 1px solid #cccccc;
    margin: 25px 5px 5px 5px;
    text-align: center;
  }

  .active-time {
    font-size: 12px;
    color: #696969 !important;
    width: 50px;
  }
  .active-time .font-size {
    font-size: 20px;
  }
  .dltable1 dl {
    display: flex;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
  }
  .dltable1 dl:last-child {
    border-bottom: none;
  }
  .dltable1 dl dt {
    padding: 15px 1px;
    background: #46c9ba none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #dee2e6;
  }
  .dltable1 dl dd {
    padding: 12px 1px;
    border-right: 1px solid #b2b5b8;
    color: #f39800;
  }

  .row9 p {
    padding: 20px 0;
  }

  #consultationHours .active-time p {
    width: 85%;
    margin: auto;
  }

  section#houtoKasuga {
    background-image: url(../img/main_picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  #houtoKasuga img {
    width: 96.5%;
    margin: 2% 0 0 2%;
  }

  #houtoKasuga .explain-for-kasugacyo {
    background-color: #f39800b0;
    padding-left: 27px;
    margin-top: 240px;
  }

  #houtoKasuga h1 {
    background-color: unset;
    color: #fff;
    padding: 5px 0 0 0px;
  }

  #houtoKasuga p {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
  }

  .inquiry-box1 {
    margin: 20px;
    font-size: 20px;
  }

  .inquiry-box1 a {
    font-size: 30px;
    color: #696969;
  }

  .inquiry hr {
    margin: 0 -30px 0px -30px;
  }

  #inquiry .smart-phone {
    display: flex;
  }

  #inquiry .smart-phone p {
    width: 44%;
    margin: 30px 0 0 0;
    text-align: center;
  }

  #info1 .scroll-box {
    display: block;
    margin: 20px 10px 5px;
    overflow: scroll;
    height: 210px;
    border: solid 4px #e6e6e6;
    overflow-x: hidden;
  }

  #info1 .scroll-box ul {
    padding: 10px 0 0 20px;
  }
  #info1 .scroll-box ul li {
    margin-bottom: 50px;
  }

  #info1 .scroll-box ul li a {
    font-size: 25px;
    color: #46c9ba;
    text-decoration: underline;
  }

  #info1 .scroll-box ul li p {
    font-size: 15px;
  }

  #info1 .scroll-box::-webkit-scrollbar {
    width: 10px;
  }

  #info1 .scroll-box::-webkit-scrollbar-track {
    border-left: solid 1px #ececec;
  }

  #info1 .scroll-box::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  #greeting .flexbox1 {
    display: flex;
    margin: 20px;
  }

  #greeting .docter-explain {
    margin-left: 40px;
  }

  #greeting .docter-explain h2 {
    font-size: 40px;
    border-left: solid 15px #46c9ba;
    padding-left: 50px;
    margin-left: -15px;
  }

  #greeting .docter-explain h2 span {
    font-size: 20px;
    padding-left: 35px;
  }

  #greeting .docter-explain p:nth-of-type(1) {
    font-size: 25px;
    margin: 20px 0 10px 0;
  }

  #greeting .docter-explain p:nth-of-type(2) {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .dltable1 dl {
    font-size: 2vw;
    height: 109px;
  }

  .dltable1 dl:first-child {
    height: 68px;
  }

  .active-time .font-size {
    font-size: 2vw;
  }

  .inquiry-box1 {
    font-size: 2vw;
  }

  .inquiry-box1 a {
    font-size: 3vw;
    color: #696969;
  }

  #greeting img {
    width: 100%;
  }

  #greeting .rs-1000 {
    display: block;
  }

  #greeting .docter-explain h2 span {
    padding-left: 0;
  }
}

.sma {
  width: 44%;
  margin: 30px 0 0 0;
  text-align: center;
}
